In [52]:
# Roger H Hayden III
# Johns Hopkins University
# Statistical Models and Regression Module 9 & 10 Assignment
# 03/20/2023

In [118]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd
from sklearn.linear_model import LinearRegression
import sklearn
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS

Performing Forward Selection

In [90]:
df = pd.read_excel(r'C:\Users\roger\OneDrive\Desktop\Education\Johns Hopkins Courses\Spring 2023\Statistical Models and Regression\Module9&10Assignment_Roger_Hayden\Data Table B.4.xlsx')
df

       y      x1   x2      x3  x7  x8
0   29.5  5.0208  1.0  3.5310   4  62
1   27.9  4.5429  1.0  2.2750   3  40
2   29.9  5.0597  1.0  4.4550   3  42
3   29.9  3.8910  1.0  4.4550   3  56
4   35.9  5.8282  1.0  6.4350   3  32
5   31.5  5.3003  1.0  4.9883   3  30
6   31.0  6.2712  1.0  5.5200   2  30
7   30.9  5.9592  1.0  6.6660   3  32
8   30.0  5.0500  1.0  5.0000   2  46
9   36.9  8.2464  1.5  5.1500   4  50
10  43.9  9.0384  1.0  7.8000   3  23
11  37.5  5.9894  1.0  5.5200   3  40
12  37.9  6.0831  1.5  6.7265   3  44
13  38.9  8.3607  1.5  9.1500   4  48

In [91]:
X = df.iloc[:, 1:6]
X

        x1   x2      x3  x7  x8
0   5.0208  1.0  3.5310   4  62
1   4.5429  1.0  2.2750   3  40
2   5.0597  1.0  4.4550   3  42
3   3.8910  1.0  4.4550   3  56
4   5.8282  1.0  6.4350   3  32
5   5.3003  1.0  4.9883   3  30
6   6.2712  1.0  5.5200   2  30
7   5.9592  1.0  6.6660   3  32
8   5.0500  1.0  5.0000   2  46
9   8.2464  1.5  5.1500   4  50
10  9.0384  1.0  7.8000   3  23
11  5.9894  1.0  5.5200   3  40
12  6.0831  1.5  6.7265   3  44
13  8.3607  1.5  9.1500   4  48

In [92]:
y = df['y']
y

0     29.5
1     27.9
2     29.9
3     29.9
4     35.9
5     31.5
6     31.0
7     30.9
8     30.0
9     36.9
10    43.9
11    37.5
12    37.9
13    38.9
Name: y, dtype: float64

In [96]:
def forward_selection(data, target, significance_level=0.05):
    initial_features = data.columns.tolist()
    best_features = []
    
    while (len(initial_features)>0):
        remaining_features = list(set(initial_features)-set(best_features))
        new_pval = pd.Series(index=remaining_features)
        
        for new_column in remaining_features:
            model = sm.OLS(target, sm.add_constant(data[best_features+[new_column]])).fit()
            new_pval[new_column] = model.pvalues[new_column]
            
        min_p_value = new_pval.min()
        
        if(min_p_value<significance_level):
            best_features.append(new_pval.idxmin())
            
        else:
            break
            
    return best_features

In [97]:
forward_selection(X,y)

C:\Users\roger\AppData\Local\Temp\ipykernel_33356\2683015057.py:7: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  new_pval = pd.Series(index=remaining_features)
C:\Users\roger\AppData\Local\Temp\ipykernel_33356\2683015057.py:7: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  new_pval = pd.Series(index=remaining_features)

['x1']

In [128]:
efs = EFS(LinearRegression(),
         min_features = 1,
         max_features = 5,
         scoring = 'r2').fit(X, y)

efs.best_feature_names_

Features: 31/31

('x2',)

In [129]:
efs.best_score_

-15.826112603111984

In [130]:
pd.DataFrame.from_dict(efs.get_metric_dict()).T

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
0,"(0,)","[-6.165367385883728, -0.0384930936507033, -45....",-18.085451,"(x1,)",25.49936,19.839368,9.919684
1,"(1,)","[-29.90039062499985, -0.003118525552485929, -3...",-15.826113,"(x2,)",17.336298,13.488229,6.744114
2,"(2,)","[-0.8317593293135079, 0.7579525634518613, -103...",-26.788794,"(x3,)",50.849521,39.562655,19.781327
3,"(3,)","[-69.69130017709546, -0.30617156060296, -48.54...",-43.130024,"(x7,)",46.148093,35.904784,17.952392
4,"(4,)","[-35.66936246452121, -0.13704536864761008, -13...",-69.85057,"(x8,)",91.173709,70.936243,35.468122
5,"(0, 1)","[-6.104326349914239, -0.060155546546051264, -5...",-36.472924,"(x1, x2)",60.117929,46.773792,23.386896
6,"(0, 2)","[-0.39573534577215974, 0.4256345915607169, -68...",-21.153851,"(x1, x3)",34.875906,27.13464,13.56732
7,"(0, 3)","[-9.835148057161476, -0.06928476874723444, -21...",-52.262205,"(x1, x7)",104.635,81.409585,40.704792
8,"(0, 4)","[-5.966330571882549, -0.017838138880695853, -7...",-23.374231,"(x1, x8)",35.934394,27.958179,13.97909
9,"(1, 2)","[-0.24392598167847535, 0.8047942656713978, -10...",-47.343749,"(x2, x3)",73.851129,57.458687,28.729344
10,"(1, 3)","[-58.560465976331216, -0.005012617331625391, -...",-37.258378,"(x2, x7)",54.199552,42.169093,21.084547
11,"(1, 4)","[-14.683918890786877, 0.13945021642237554, -84...",-21.538101,"(x2, x8)",40.69156,31.659416,15.829708
12,"(2, 3)","[-3.8003559156603908, 0.7728619084629496, -125...",-45.813637,"(x3, x7)",70.153235,54.5816,27.2908
13,"(2, 4)","[-0.8647519651235935, 0.7655166826655624, -129...",-33.645436,"(x3, x8)",64.068403,49.847394,24.923697
14,"(3, 4)","[-44.442740735068796, -0.871815741769363, -83....",-48.036969,"(x7, x8)",54.945468,42.749441,21.37472
15,"(0, 1, 2)","[-0.3958804745402096, 0.41048158590352035, -81...",-27.942089,"(x1, x2, x3)",43.424916,33.78606,16.89303
16,"(0, 1, 3)","[-11.336953564523506, -0.1304001341474461, -22...",-79.826009,"(x1, x2, x7)",121.049289,94.180459,47.09023
17,"(0, 1, 4)","[-5.152112221676337, -0.05009951154600145, -69...",-45.91909,"(x1, x2, x8)",75.827534,58.996398,29.498199
18,"(0, 2, 3)","[-2.0952693978727774, 0.4287754568071128, -189...",-49.538739,"(x1, x3, x7)",93.866899,73.031637,36.515818
19,"(0, 2, 4)","[-0.4117140507649051, 0.4234092740187688, -88....",-26.731578,"(x1, x3, x8)",45.035536,35.039177,17.519589
20,"(0, 3, 4)","[-10.022877521956042, -0.024420589482843313, -...",-91.583301,"(x1, x7, x8)",202.74765,157.74456,78.87228
21,"(1, 2, 3)","[-3.6335509262474623, 0.7924581789558915, -127...",-54.345605,"(x2, x3, x7)",82.33918,64.06268,32.03134
22,"(1, 2, 4)","[-2.2450287570246212, 0.7940343249826777, -115...",-46.531116,"(x2, x3, x8)",70.727662,55.028524,27.514262
23,"(1, 3, 4)","[-19.585561544907222, -0.5254707828404432, -53...",-17.989497,"(x2, x7, x8)",24.148509,18.788361,9.39418
24,"(2, 3, 4)","[-3.92355982280188, 0.5190560019861251, -93.92...",-33.447741,"(x3, x7, x8)",50.764339,39.49638,19.74819
25,"(0, 1, 2, 3)","[-3.062405416691595, 0.39385523366923825, -191...",-55.195056,"(x1, x2, x3, x7)",95.275038,74.127216,37.063608
26,"(0, 1, 2, 4)","[-0.4006279153126828, 0.3765253054948279, -90....",-33.908207,"(x1, x2, x3, x8)",51.531477,40.093239,20.04662
27,"(0, 1, 3, 4)","[-9.558807801358723, -0.04767710779484835, -40...",-117.365974,"(x1, x2, x7, x8)",202.78094,157.77046,78.88523
28,"(0, 2, 3, 4)","[-2.39520538264071, 0.46060123686692367, -320....",-75.563946,"(x1, x3, x7, x8)",159.775007,124.310384,62.155192
29,"(1, 2, 3, 4)","[-2.002629006543677, 0.4482930205835879, -91.3...",-38.041344,"(x2, x3, x7, x8)",57.431802,44.683893,22.341946
30,"(0, 1, 2, 3, 4)","[-2.7736043780899, 0.410560798518778, -333.900...",-85.213685,"(x1, x2, x3, x7, x8)",165.086862,128.443187,64.221594